<form action="/demo/index/post" method="POST">
    Nume<br>
    <input type="text" name="nume"><br>
    Prenume<br>
    <input type="text" name="prenume"><br>
    Date of birth (YYY-mm-dd)<br>
    <input type="text" name="date_of_birth"> <br>
    Cod discount<br>
    <input type="text" name="cod_discount"> <br>
    <input type="submit" value="Submit">
</form> 
